<form
  class="form-group"
  [formGroup]="profileForm"
  #formDir="ngForm"
  (ngSubmit)="onSubmit(profileForm, formDir)"
>
  <!-- username -->
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label for="username">Username</mat-label>
    <input
      type="text"
      placeholder="Pick username"
      aria-label="Number"
      matInput
      [matAutocomplete]="auto"
      formControlName="username"
      [ngStyle]="{
        color: fieldUnchanged('username') ? 'gray' : 'black'
      }"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <!-- full name -->
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Full Name</mat-label>
    <input
      type="text"
      placeholder="Pick full name"
      aria-label="Number"
      matInput
      [matAutocomplete]="auto"
      formControlName="full_name"
      [ngStyle]="{
        color: fieldUnchanged('full_name') ? 'gray' : 'black'
      }"
    />
  </mat-form-field>

  <!-- Irrelevance -->
  <mat-slide-toggle
    formControlName="isIrrelevant"
    color="warn"
    (change)="toggleIrrelevance()"
    style="margin-left: 1rem"
  >Irrelevant
  </mat-slide-toggle>

  <!-- error -->
  <div
    [class.cross-validation-error]="
      profileForm.errors?.identityRevealed &&
      (profileForm.touched || profileForm.dirty)
    "
  >
    <div *ngIf="validateFormControl('username')" class="alert alert-danger">
      <div *ngIf="profileForm.get('username')!.errors?.required">
        Username is required.
      </div>
      <div
        *ngIf="profileForm.get('username')!.errors?.forbiddenName"
        class="alert alert-danger"
      >
        Space is not allowed.
      </div>
    </div>
  </div>
  <div class="example-button-row">
    <fieldset ng-disabled="url===undefined">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!profileForm.valid || nextRoute === undefined"
      >
        Submit
      </button>

      <button
        type="button"
        mat-raised-button
        routerLink="{{ nextRoute }}"
        [disabled]="!hasNextRoute()"
        (click)="formDir.resetForm()"
      >
        {{ hasNextRoute() ? "See Next Post" : "No More Post" }}
      </button>
    </fieldset>
  </div>
</form>

{{ this.nextRoute }}
