<div *ngIf="post && postState">
  <!-- pic-section -->
  <mat-grid-list cols="2" rowHeight="100px" [gutterSize]="'1rem'">
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="8"
      [ngClass]="{
        unprocessed: postState === 'unprocessed',
        processed: postState === 'processed'
      }"
      class="pic-section"
    >
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar [style]="{'background-image':'url('+profile_pic_url+')','background-size':'cover'}">
          </div>
          <mat-card-title>{{ post.postProfile.username }}</mat-card-title>
          <mat-card-subtitle>
            {{ post.postProfile.full_name }}
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="postImg" [src]="url" alt="no image"/>
        <mat-card-content>
          <span class="guide-text">{{ post.upload_date }}</span>
          <p>
            {{post.tagged_users|json}}
          </p>
          <p>
            {{post.hashtags|json}}
          </p>
          <p>
            {{post.caption}}
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- text-section -->
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="4"
      [ngClass]="{
        unprocessed: postState === 'unprocessed',
        processed: postState === 'processed'
      }"
      class="text-section"
    >
      <span class="text-extraction-box">
        <p style="white-space: pre">
         {{post.extracted_text}}
        </p>
      </span>
    </mat-grid-tile>

    <mat-grid-tile
      [colspan]="1"
      [rowspan]="4"
      [ngClass]="{
        unprocessed: postState === 'unprocessed',
        processed: postState === 'processed'
      }"
      class="form-section"
    >
      <div *ngIf="url && post" class="form-wrapper">
        <app-form [post]="post" [url]="url" [postState]="postState"></app-form>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
