<div *ngIf="post && postState">
  <!-- pic-section -->
  <mat-grid-list cols="2" rowHeight="100px" [gutterSize]="'1rem'">
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="8"
      [ngClass]="{
        unprocessed: postState === 'unprocessed',
        processed: postState === 'processed'
      }"
      class="pic-section"
    >
      <mat-card class="example-card">
        <img mat-card-image class="postImg" [src]="url" alt="no image" />
        <mat-card-header>
          <mat-card-title>{{ post.postProfile.username }}</mat-card-title>
          <mat-card-subtitle>
            {{ post.postProfile.full_name }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <span class="guide-text">{{ post.upload_date }}</span>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem
            quasi numquam a assumenda culpa unde deserunt impedit cupiditate
            facere minus! Voluptatum cumque doloribus adipisci nulla totam
            expedita id eveniet mollitia?
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- text-section -->
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="4"
      [ngClass]="{
        unprocessed: postState === 'unprocessed',
        processed: postState === 'processed'
      }"
      class="text-section"
    >
      <span class="text-extraction-box">
        <p>
          <span class="guide-text">Text extracted</span> Lorem, ipsum dolor sit
          amet consectetur adipisicing elit. Consectetur fugit velit beatae vel
          quia porro dolores repellat corrupti, rem saepe voluptatum accusamus
          optio laudantium accusantium necessitatibus veritatis itaque! Placeat,
          nesciunt.
        </p>
      </span>
    </mat-grid-tile>

    <mat-grid-tile
      [colspan]="1"
      [rowspan]="4"
      [ngClass]="{
        unprocessed: postState === 'unprocessed',
        processed: postState === 'processed'
      }"
      class="form-section"
    >
      <div *ngIf="url && post" class="form-wrapper">
        <app-form [post]="post" [url]="url" [postState]="postState"> </app-form>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
