.postImg {
  max-width: 800px;
  max-height: 800px;
}

.guide-text {
  color: rgb(39, 58, 58);
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.5;
  margin-top: 2.3rem;
}

.info-text {
  font-size: 1.5.5.5.5.5rem;
  font-weight: 400;
  line-height: 2.5;
}

.example-card {
  max-width: 400px;
  background-color: var(--color-bg-primary);
}

.form-wrapper{
  margin: auto;
  width: 80%;
}

.pic-section, .text-section, .form-section{
  margin-top: 1rem;
  border-radius: 1rem;
}

.processed{
background-color: rgba(144, 190, 194, 0.164);
}

.unprocessed{
  background-color: rgba(144, 194, 152, 0.164);
}
.text-extraction-box{
margin: 2rem;
}