<div *ngIf="post && postState">
  <!-- pic-section -->
  <mat-grid-list cols="8" rowHeight="100px" [gutterSize]="'1rem'">
    <mat-grid-tile
      [colspan]="3"
      [rowspan]="8"
      [ngClass]="{
        unprocessed: postState === 'unprocessed',
        processed: postState === 'processed'
      }"
      class="pic-section"
      style="overflow: auto"
    >
      <div class="extracted-text-wrapper">
        <mat-toolbar class="app-toolbar" color="primary"
                     [ngClass]="{'mat-elevation-z5' : true }"><h4>Scrapped Post</h4></mat-toolbar>
        <mat-card class="example-card" style="margin-bottom: auto">
          <mat-card-header>
            <div mat-card-avatar
                 [style]="{'background-image':'url('+profile_pic_url+')','background-size':'cover'}"></div>
            <mat-card-title>{{ post.postProfile.username }}</mat-card-title>
            <mat-card-subtitle>
              {{ post.postProfile.full_name }}
            </mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image class="postImg" [src]="url" alt="no image"/>
          <mat-card-content>
            <div class="guide-text">
              <h4><span>{{ post.upload_date }}</span></h4>
            </div>
            <p>
              {{post.caption}}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-grid-tile>

    <!-- text-section -->
    <mat-grid-tile
      [colspan]="2"
      [rowspan]="8"
      [ngClass]="{
        unprocessed: postState === 'unprocessed',
        processed: postState === 'processed'
      }"
      class="text-section"
      style="overflow: auto"
    >
      <div class="extracted-text-wrapper">
        <mat-toolbar class="app-toolbar" color="primary"
                     [ngClass]="{'mat-elevation-z5' : true }"><h4>Extracted Text</h4></mat-toolbar>
        <p style="white-space: pre" [innerHTML]="formattedExtractedText"></p>
        <div *ngIf="post.hashtags.length">
          <div class="guide-text">
            <h5><span>Hash Tags</span></h5>
          </div>
          <p *ngFor="let hashtag of post.hashtags" style="color: #00376b">
            #{{hashtag}}
          </p>
        </div>
      </div>

    </mat-grid-tile>

    <mat-grid-tile
      [colspan]="3"
      [rowspan]="8"
      [ngClass]="{
        unprocessed: postState === 'unprocessed',
        processed: postState === 'processed'
      }"
      class="form-section"
    >
      <div *ngIf="url && post" class="form-wrapper">
        <app-form [post]="post" [url]="url" [postState]="postState"></app-form>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
