.postImg {
  max-width: 800px;
  max-height: 800px;
}

.guide-text {
  h4 {
    color: gray;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid gray;
    line-height: 0.1em;
    margin: 10px 0 20px;
  }
  h5 {
    color: gray;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--color-bg-processed);
    line-height: 0.1em;
    margin: 10px 0 20px;
  }

  h4 span {
    background: var(--color-bg-primary);
    padding: 0 10px;
  }
  h5 span {
    background: var(--color-bg-processed);
    padding: 0 10px;
  }
}

::ng-deep .highlight-username {
  background: var(--color-primary);
  font-weight: 600;
  font-size: large;
}

::ng-deep .highlight-exact-fullname {
  background: var(--color-accent);
  font-size: large;
}

::ng-deep .highlight-numbers {
  background: yellowgreen;
}

.example-card {
  max-width: 400px;
  background-color: var(--color-bg-primary);
  margin: auto;
}

.form-wrapper {
  margin: auto;
  width: 80%;
}

.pic-section, .text-section, .form-section {
  margin-top: 1rem;
  border-radius: 1rem;
}

.processed {
  background-color: var(--color-bg-processed);
}

.unprocessed {
  background-color:var(--color-bg-unprocessed);
}

.extracted-text-wrapper {
  .app-toolbar {
    width: 100%;
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
  }

  p {
    margin-top: 1rem;
    margin-left: 2rem;
  }

  margin-bottom: auto;
  width: 100%;
}
