.demo-table {
    width: 100%;
    margin-top: 2rem;
  }
  
  .mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-row:hover .mat-cell {
    border-color: currentColor;
  }
  
  .demo-row-is-clicked {
    font-weight: bold;
  }
  
  .tab-nav{
    text-decoration: none;
    color:var(--color-accent)
  }

  .no-unprocessed-div {
    margin-top: 2rem;
    padding: 10px;
  }